
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="y_title">
                    <h4>Products</h4>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <table class="table table-hover" id="tableProduct">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Price
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="/js/dashboard.js"></script>
}
